// app global css in SCSS form
// body {
//   font-family: 'Noto Serif Thai Variable', serif;
// }

// app global css in SCSS form
// @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

// body {
//   font-family: 'Bai Jamjuree', sans-serif;
// }

// @import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

// body {
//   font-family: 'Sarabun', sans-serif;
// }


// @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&display=swap');

// body {
//   font-family: 'Prompt', sans-serif;
// }


@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap');

body {
  font-family: 'Kanit', sans-serif;
}










